@using Microsoft.AspNetCore.Identity;
@using eTickets.Models;
@inject UserManager<ApplicationUser> UserManager;



    @if(!User.Identity.IsAuthenticated){

<li class="navbar-nav flex-grow-3">
    <a class=" btn btn-outline-danger nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login"><i class="bi bi-film"></i> Login</a>
</li>
<span style="padding: 5px;"></span>

<li class="navbar-nav flex-grow-3">
    <a class=" btn btn-outline-danger nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register"><i class="bi bi-film"></i> Register</a>
</li>
<span style="padding: 5px;"></span>
    }

    else{
    
  
@* User profile section *@
<div class="dropdown">
    <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-toggle="dropdown"
            aria-expanded="false">
        <i class="bi bi-person-badge"></i> Hello @UserManager.GetUserName(User)
    </button>
    <ul class="dropdown-menu" aria-labelledby="profile-btn">
        <li>
            <a class="dropdown-item" asp-controller="Orders" asp-action="Index">
                <i class="bi bi-list"></i> Orders
            </a>
        </li>
    </ul>  
  </div>



   
    @*     <li>
            <a class="dropdown-item" asp-controller="Account" asp-action="Users">
                <i class="bi bi-people"></i> Users
            </a>
        </li> *@
    


<span style="padding: 5px;"></span>
<form asp-controller="Account" asp-action="Logout">
    <button class="btn btn-outline-danger my-2 my-sm-0">
        <i class="bi bi-box-arrow-in-right"></i> Log out
    </button>
</form>
}